<%- include('./includes/head.ejs') %>
<body>
    <%- include('./includes/navigation.ejs') %> 
    
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Home</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Home</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="h-main-body">
                        <div class="db-page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="swiper mySwiper row">
                                <div class="swiper-wrapper col-sm-12">
                                    <div class=" swiper-slide db-card">
                                        <div class="db-card-content">
                                            <p class="budget">1$</p>
                                          
                                            <div class="info">
                                                <p class="wallet">tech</p>
                                                <!-- <button class="db-btn">Open</button> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" swiper-slide db-card">
                                        <div class="db-card-content">
                                            <p class="budget">1$</p>
                                            <div class="info">
                                                <p class="wallet">tech</p>
                                                <!-- <button class="db-btn">Open</button> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" swiper-slide db-card">
                                        <div class="db-card-content">
                                            <p class="budget">2$</p>
                                            <div class="info">
                                                <p class="wallet">tech</p>
                                                <!-- <button class="db-btn">Open</button> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" swiper-slide db-card">
                                        <div class="db-card-content">
                                            <p class="budget">2$</p>
                                            <div class="info">
                                                <p class="wallet">tech</p>
                                                <!-- <button class="db-btn">Open</button> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" swiper-slide db-card">
                                        <div class="db-card-content">
                                            <p class="budget">2$</p>
                                            <div class="info">
                                                <p class="wallet">tech</p>
                                                <!-- <button class="db-btn">Open</button> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </div>
                            <div class="swiper-pagination"></div>
                            
                            <!-- [ Main Content ] end -->
                        </div>
                        <div class="db-charts">
                            <div class="db-charts-card">
                                <p class="chart-title">Income and Expense</p>
                                <div id="area-chart"></div>
                            </div>
                            <div class="recent-card ">
                                <div class="recent-card-body ">
                                  <h4 class="card-title">Recent Transactions</h4>
                                  <div class="list align-items-center border-bottom py-2">
                                    <div class="wrapper w-100">
                                        <div class="w-100-content">
                                            <p class="mb-2 font-weight-medium">Foods</p>
                                            <p class="expense">$20</p>
                                        </div>
                                      <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="fas fa-calendar-day"></i>
                                          <p class="mb-0 text-small text-muted">Mar 14, 2019</p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="list align-items-center border-bottom py-2">
                                    <div class="wrapper w-100">
                                        <div class="w-100-content">
                                            <p class="mb-2 font-weight-medium">Bill</p>
                                            <p class="expense">$100</p>
                                        </div>
                                      <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="fas fa-calendar-day"></i>
                                          <p class="mb-0 text-small text-muted">Mar 14, 2019</p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="list align-items-center border-bottom py-2">
                                    <div class="wrapper w-100">
                                        <div class="w-100-content">
                                            <p class="mb-2 font-weight-medium">Entertain</p>
                                            <p class="expense">$50</p>
                                        </div>
                                      <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="fas fa-calendar-day"></i>
                                          <p class="mb-0 text-small text-muted">Mar 14, 2019</p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="list align-items-center border-bottom py-2">
                                    <div class="wrapper w-100">
                                        <div class="w-100-content">
                                            <p class="mb-2 font-weight-medium">Wearing</p>
                                            <p class="expense">$80</p>
                                        </div>
                                      <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="fas fa-calendar-day"></i>
                                          <p class="mb-0 text-small text-muted">Mar 14, 2019</p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="detail">
                                    <p class="detail-content">
                                        <a href="#" class="fw-bold text-primary">Show all <i class="fas fa-angle-right"></i></a>
                                    </p>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

    
    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->
    <!--[if lt IE 11]>
        <div class="ie-warning">
            <h1>Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade
               <br/>to any of the following web browsers to access this website.
            </p>
            <div class="iew-container">
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="/images/browser/chrome.png" alt="Chrome">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="/images/browser/firefox.png" alt="Firefox">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="/images/browser/opera.png" alt="Opera">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="/images/browser/safari.png" alt="Safari">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="/images/browser/ie.png" alt="">
                            <div>IE (11 & above)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->
    <!-- Warning Section Ends -->

    <!-- Required Js -->
    <%- include('./includes/script.ejs') %> 
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
    spaceBetween: 25,
    loop: true,
    centerSlide: 'true',
    fade: 'true',
    grabCursor: 'true',
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
      dynamicBullets: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },

    breakpoints:{
        0: {
            slidesPerView: 1,
        },
        520: {
            slidesPerView: 2,
        },
        950: {
            slidesPerView: 3,
        },
        },
      });
    </script>

 <!---------- Apexcharts ------->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>


    <script>
        var areaChartOptions = {
  series: [{
    name: 'Income',
    data: [31, 40, 58, 51, 42, 109, 100, 55, 70, 65, 60, 42]
  }, {
    name: 'Expense',
    data: [11, 32, 45, 32, 34, 52, 41, 22, 25, 15, 29, 24]
  }],
  chart: {
    height: 350,
    type: 'area',
    toolbar: {
      show: false,
    },
  },
  colors: ["#4f35a1", "#246dec"],
  dataLabels: {
    enabled: false,
  },
  stroke: {
    curve: 'smooth'
  },
  labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
  markers: {
    size: 0
  },
  yaxis: [
    {
      title: {
        text: 'Income',
      },
    },
    {
      opposite: true,
      title: {
        text: 'Expense',
      },
    },
  ],
  tooltip: {
    shared: true,
    intersect: false,
  }
};

var areaChart = new ApexCharts(document.querySelector("#area-chart"), areaChartOptions);
areaChart.render();


</script>
</body>
</html>
