<%- include('./includes/head.ejs') %>

<body>

    <%- include('./includes/navigation.ejs') %> 
<!-- main content -->
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Sample Page</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Sample Page</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper-2">
                            <!-- [ Main Content ] start -->
                            <div class="addWallet">
                                <span class="add_btn">
                                    <a href="#"> <i class="fas fa-plus"></i> Add</a>
                                </span>
                            </div>
                            <div class="table_responsive">
                                <table>
                                  <thead>
                                    <tr>
                                      <th>No</th>
                                      <th>Wallet</th>
                                      <th>Type</th>
                                      <th>Money</th>
                                      <th>Action</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>01</td>
                                      <td>Techcombank</td>
                                      <td>Bank</td>
                                      <td>5000$</td>
                                      <td>
                                        <span class="action_btn">
                                          <a href="#">Edit</a>
                                          <a href="#">Remove</a>
                                        </span>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>02</td>
                                      <td>Cash</td>
                                      <td>Cash on hand</td>
                                      <td>200$</td>
                                      <td>
                                        <span class="action_btn">
                                          <a href="#">Edit</a>
                                          <a href="#">Remove</a>
                                        </span>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>03</td>
                                      <td>Saving</td>
                                      <td>Saving</td>
                                      <td>15000$</td>
                                      <td>
                                        <span class="action_btn">
                                          <a href="#">Edit</a>
                                          <a href="#">Remove</a>
                                        </span>
                                      </td>
                                    </tr>
                                    <tr>
                                        <td>04</td>
                                        <td>BIDV</td>
                                        <td>Bank</td>
                                        <td>500$</td>
                                        <td>
                                          <span class="action_btn">
                                            <a href="#">Edit</a>
                                            <a href="#">Remove</a>
                                          </span>
                                        </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
<!-- end of main -->
    <%- include('./includes/script.ejs') %> 
</body>
</html>