<%- include('./includes/head.ejs') %>

<body>
<!--EDIT PROFILE PAGE-->
    <%- include('./includes/navigation.ejs') %> 
<!-- main content -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class= "pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Profile</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Profile</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Edit Profile</a></li>
                                    </ul>
                                </div>
                            </div>
<!--                        Edit FORM   -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>EDIT PROFILE</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Email address</label>
                                                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
<!--                                                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInputPassword1">Password</label>
                                                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="InputFirstName">First name</label>
                                                            <input type="text" class="form-control" id="InputFirstName" placeholder="First Name">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="InputMiddleName">Middle name</label>
                                                            <input type="text" class="form-control" id="InputMiddleName" placeholder="Middle Name">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="InputLastName">Lastname</label>
                                                            <input type="text" class="form-control" id="InputLastName" placeholder="Last Name">
                                                        </div>
                                                        <a href="/profile"><button type="submit" class="btn btn-primary">Submit</button></a>
                                                    </form>
                                                </div>
                                                <div class="col-md-6">
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="InputJob">Job</label>
                                                            <input type="text" class="form-control" id="InputJob"  placeholder="Project Management">
<!--                                                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="InputPhone">Phone</label>
                                                            <input type="number" class="form-control" id="InputPhone" placeholder="0904928310">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="InputAddress">Address</label>
                                                            <input type="text" class="form-control" id="InputAddress" placeholder="98 Post St, San Francisco, CA">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="InputFacebook">Facebook</label>
                                                            <input type="url" class="form-control" id="InputFacebook" placeholder="https://www.facebook.com/...">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="InputLinkedin">Linkedin</label>
                                                            <input type="url" class="form-control" id="InputLinkedin" placeholder="https://www.linkedin.com/...">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <!-- Input group -->
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- end of main -->
    <%- include('./includes/script.ejs') %> 
</body>
</html>