<%- include('./includes/head.ejs') %>

<body>

    <%- include('./includes/navigation.ejs') %> 
<!-- main content -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Profile</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Profile</a></li>
                                    </ul>
                                </div>
                            </div>
                            <section style="">
                              <div class="container py-5">
                                <div class="row">
                                  <div class="col-lg-4">
                                    <div class="card mb-4">
                                      <div class="card-body text-center">
                                        <img src="/images/user/avatar-2.jpg" alt="avatar"
                                          class="rounded-circle img-fluid" style="width: 150px;">
                                        <h5 class="my-3">Minh Tran</h5>
                                        <p class="text-muted mb-1">Full Stack Developer</p>
                                        <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
<!--                                        <div class="d-flex justify-content-center mb-2">-->
<!--                                          <button type="button" class="btn btn-primary">Follow</button>-->
<!--                                          <button type="button" class="btn btn-outline-primary ms-1">Message</button>-->
<!--                                        </div>-->
                                      </div>
                                    </div>
                                    <div class="col-lg">
                                        <div class="row">
                                        <div class="col-sm">
                                        </div>
                                        <div class="col-sm">
                                            <a href="/edit_profile"><button type="button" class="btn btn-primary" title="" data-toggle="tooltip"><i class="fa-solid fa-file-pen"></i>Edit Profile</button></a>
                                        </div>
                                        <div class="col-sm">
                                        </div>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-8">
                                    <div class="card mb-4">
                                      <div class="card-body">
                                         <div class="row">
                                          <div class="col-sm-3">
                                            <p class="mb-0">Username</p>
                                          </div>
                                          <div class="col-sm-9">
                                            <p class="text-muted mb-0">minhtran</p>
                                          </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                          <div class="col-sm-3">
                                            <p class="mb-0">Last Name</p>
                                          </div>
                                          <div class="col-sm-9">
                                            <p class="text-muted mb-0">Tran</p>
                                          </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                          <div class="col-sm-3">
                                            <p class="mb-0">Middle Name</p>
                                          </div>
                                          <div class="col-sm-9">
                                            <p class="text-muted mb-0">Cong</p>
                                          </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                          <div class="col-sm-3">
                                            <p class="mb-0">First Name</p>
                                          </div>
                                          <div class="col-sm-9">
                                            <p class="text-muted mb-0">Minh</p>
                                          </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                          <div class="col-sm-3">
                                            <p class="mb-0">Email</p>
                                          </div>
                                          <div class="col-sm-9">
                                            <p class="text-muted mb-0">example@example.com</p>
                                          </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                          <div class="col-sm-3">
                                            <p class="mb-0">Phone</p>
                                          </div>
                                          <div class="col-sm-9">
                                            <p class="text-muted mb-0">(097) 234-5678</p>
                                          </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                          <div class="col-sm-3">
                                            <p class="mb-0">Job</p>
                                          </div>
                                          <div class="col-sm-9">
                                            <p class="text-muted mb-0">Fullstack Dev</p>
                                          </div>
                                        </div>
                                        <hr>

                                        <div class="row">
                                          <div class="col-sm-3">
                                            <p class="mb-0">Address</p>
                                          </div>
                                          <div class="col-sm-9">
                                            <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                                          </div>
                                        </div>
                                          <hr>
                                          <div class="row">
                                          <div class="col-sm-3">
                                            <p class="mb-0">Facebook</p>
                                          </div>
                                          <div class="col-sm-9">
                                            <p class="text-muted mb-0">Fullstack Dev</p>
                                          </div>
                                        </div>
                                          <hr>
                                          <div class="row">
                                          <div class="col-sm-3">
                                            <p class="mb-0">Github</p>
                                          </div>
                                          <div class="col-sm-9">
                                            <p class="text-muted mb-0">...</p>
                                          </div>
                                        </div>
                                          <hr>
                                          <div class="row">
                                          <div class="col-sm-3">
                                            <p class="mb-0">Linkedin</p>
                                          </div>
                                          <div class="col-sm-9">
                                            <p class="text-muted mb-0">...</p>
                                          </div>
                                        </div>

                                      </div>
                                    </div>

                                  </div>
                                </div>
                              </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- end of main -->
    <%- include('./includes/script.ejs') %> 
</body>
</html>