@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

.h-main-body{
    display: flex;
    flex-direction: column;
}
.ew-page-wrapper-2{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.addWallet{
    background-color: #04a9f5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 70px;
    height: 35px;
}

.addWallet:hover{
    background-color: #0294d8;
}

.add-btn>a{
    color: #fff !important;
}
.table_responsive {
    width: 1000px;
    border: 1px solid #04a9f5   ;
    background-color: #efefef33;
    padding: 15px;
    overflow: auto;
    border-radius: 4px;
    min-height: 70vh;
    display: flex;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin-top: 10px;
}
table {
    width: 100%;
    font-size: 13px;
    color: #444;
    white-space: nowrap;
    border-collapse: collapse;
}
table>thead {
    background-color: #04a9f5;
    color: #fff;
}
table>thead th {
    padding: 15px;
}
table th,
table td {
    border: 1px solid #00000017;
    padding: 10px 15px;
    text-align: center;
}

.action_btn {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.action_btn>a {
    text-decoration: none;
    color: #444;
    background: #fff;
    border: 1px solid;
    display: inline-block;
    padding: 7px 20px;
    font-weight: bold;
    border-radius: 3px;
    transition: 0.1s ease-in-out;
}
.action_btn>a:nth-child(1) {
    border-color: #f4c22b;
}
.action_btn>a:nth-child(2) {
    border-color: #f44236;
}
.action_btn>a:hover {
    box-shadow: 0 3px 8px #0003;
}
table>tbody>tr {
    background-color: #fff;
    transition: 0.3s ease-in-out;
}
table>tbody>tr:nth-child(even) {
    background-color: rgb(238, 238, 238);
}
table>tbody>tr:hover{
    filter: drop-shadow(0px 2px 6px #0002);
}